[Desktop Entry]
Version=1.0
Name=GMixer
Name[de]=GMixer
Name[fr]=GMixer
Comment=Audio mixer for the Gnome Desktop Environment
Comment[de]=Lautstärkeregelung für den GNOME Desktop
Comment[fr]=Mixer audio pour l'environnement Gnome
Exec=gmixer -d
Icon=gmixer
StartupNotify=true
Type=Application
Categories=AudioVideo;Audio;Mixer;GTK;
NotShowIn=GNOME;KDE;XFCE
X-GNOME-Autostart-Phase=Desktop
X-GNOME-Autostart-Notify=true
X-KDE-autostart-after=panel
